.About {
  margin-bottom: 8%;
}
.About > .Heading {
  width: 18%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2%;
}
.About > .Heading > p {
  color: #c8fff4;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.5px;
}
.About > .About_display {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.About > .About_display > div {
  width: 50%;
  /* border: 1px solid white; */
}
.About > .About_display > div:first-child {
  width: 30%;
}
.About > .About_display > div > p {
  color: white;
  text-align: justify;
  font-size: medium;
  letter-spacing: 1px;
  line-height: 25px;
  word-spacing: 0.8px;
}
.About > .About_display > div > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
