.Projects {
  margin-bottom: 8%;
}
.Projects > .Heading {
  width: 27%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2%;
}
.Projects > .Heading > p {
  color: #c8fff4;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.5px;
}
.Projects > .Projects_display {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.Projects > .Projects_display > div {
  /* border-radius: 15px; */
  background-color: rgb(40, 40, 40);
}
.Projects_display > div > img {
  width: 100%;
  margin-bottom: 5%;
}
.Projects_display > div > .Heading {
  width: 45%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4%;
}
.Projects_display > div > .Heading > h2 {
  color: #017862;
  letter-spacing: 0.5px;
  text-decoration: underline;
  transition: color 0.2s ease-in;
  cursor: pointer;
}
.Projects_display > div > .Heading > h2:hover {
  color: #01a587;
}
.Projects_display > div > .Heading > a > img {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease-in;
}
.Projects_display > div > .Heading > a > img:hover {
  opacity: 1;
}
.Projects_display > div > p {
  width: 80%;
  margin: auto;
  color: white;
  text-align: justify;
  margin-bottom: 5%;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}
.Projects_display > div > .Techstack {
  width: calc(3 * 13%);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8%;
}
.Projects_display > div > .Techstack > p > img {
  position: relative;
  cursor: pointer;
  transition: position 1s ease-in;
}
.Projects_display > div > .Techstack > p > img:hover {
  bottom: 5px;
}
