@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
:root {
  --yellow-color: rgb(253, 192, 78);
}
.Navbar {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
  background-color: #005457;
  color: white;
  margin-bottom: 5%;
  position: sticky;
  top: 0;
  z-index: 10000;
}
.Navbar > div:last-child {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navbar > div > h1 > span,
.Navbar > div > p {
  cursor: pointer;
}
.Navbar > div > h1 {
  letter-spacing: 1.5px;
  font-family: "Raleway", sans-serif;
}
.Navbar > div > h1 > span {
  color: white;
  transition: color 0.15s ease-in;
}

.Navbar > div > a > p {
  font-size: 1.2rem;
  font-weight: 450;
  color: white;
  transition: color 0.15s ease-in;
  letter-spacing: 0.5px;
}
.Navbar > div > a {
  text-decoration: none;
}
.Navbar > div > a > p:hover {
  color: #00c4b4;
}
.Navbar > div > h1 > span:hover {
  color: rgb(192, 255, 255);
}